{% extends "base.html" %}
{% block title %} Registeren {% endblock %}
{% block content %}
<body>
    <br>
    <main>
        <div class="container-lg rounded border" style="width:20%; margin-bottom:20%; text-align:center;">
            <br>
            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.email.label }} <br>
                {{ form.email() }}<br>
                {{ form.username.label }} <br>
                {{ form.username() }}<br>
                {{ form.password.label }} <br>
                {{ form.password() }}<br>
                {{ form.pass_confirm.label }} <br>
                {{ form.pass_confirm() }}<br><br>
                {{ form.submit() }}
            </form>
            <br>
        </div>
    </main>
    <footer>
        <p align="center" style="color:rgb(0, 0, 0); margin-top:5%">© 2022 MiDo</p>
    </footer>
</body>
{% endblock %}